body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #333;
}

.tic-tac-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.block {
    display: flex;
}

.history {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.square {
    width: 60px; /* Adjust size as needed */
    height: 60px; /* Adjust size as needed */
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    background-color: white;
    transition: background-color 0.3s;
}

.square:hover {
    background-color: #eaeaea;
}

button {
    margin: 5px 0;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}
