.container{
    display: flex;
}

.container div{
    /* display:inline-block; */
    width: 380px;
    height:320px;
    background-color: black;
    margin :45px;

}
.container h1{
    color:white;
    
}

.imgBox {
    margin: 12px 12px;
    width: 90%; 
    height: 90%; 
}

.intermediate{
    border:5px solid purple;
}

.hide{
    border:solid red 4px;
}

.container2{
    display: flex;
    justify-content: center;
}

.container2 div{
    /* display:inline-block; */
    width: 380px;
    height:320px;
    background-color: black;
    margin :45px;

}